body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.boxOne {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  gap: 10px;
}

.box1 {
  background-color: #444;
  color: #ffff;
  border-radius: 7px;
  padding: 20px;
  font-size: 150%;
}

.boxTwo {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  gap: 10px;
}

.box2 {
  background-color: aqua;
  color: #333;
  border-radius: 7px;
  padding: 20px;
  font-size: 150%;
}

.A {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.B {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.C {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.D {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
